.navbar{
    background-color: lightblue;
}

#section-header{
    color: red;
    text-decoration-style: wavy;
}
h2{
color: blue;
 font-weight: bold;
}
h3{
    color: blue;
     font-weight: bold;
    }

.body{
    font-family: 'Helvetica','Arial',sans-serif;    
}
.city-details {
    visibility: hidden;
}

.city-button{
    width: 200px;
    height: 50px;
    background-color: white;
    color: maroon;
}
.city-button:hover{
    background-color:  palegoldenrod;
    color: blue;
    font-weight: bold;
}
#forecast {
    color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Helvetica','Arial',sans-serif;
    width: 50em;
}
#weather-details {
    color: #222;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Helvetica','Arial',sans-serif;
    margin: 0px;
    width: 50em;
}
.card {
    flex-basis: max-content;
}
.card-body {
    width: max-content;
    background: palegoldenrod;
    border-radius: 2px;
    box-shadow: 2px 2px 2px 2px  yellow;
    text-align: center;
}
.card .title {
    font-size: 16px;
    font-weight: bold;
}
.card .icon {
    margin: 10px 0 5px;
    width: 60px;
}

.card .temps {
    font-size: 12px;
    font-weight: normal;
    margin-top: 10px;
}
.uv-index-good {
        background: green;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
.uv-index-med {
        background: rgb(241, 241, 113);
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }
.uv-index-pbad {
        background: darkorange;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }     
.uv-index-bad {
        background: red;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }

    .uv-index-vbad {
        background: purple;
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
      }


